<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/default'%>
    <!--this shows, if you access '/static/home'. these html insert this yield parameter -->
   <%= yield :using_js %>

  </head>

  <body>
  <%= render 'layouts/header' %>

  <div class="container">
      <div class="container">
        <%= yield %>
      </div> 
      <%= render 'layouts/footer' %>
  </body>
  
</html>
